.constructor-page {
  margin: auto;
  max-width: 1250px;
  display: flex;
  flex-direction: column;
}

.content-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 40px;
}
