.ingredients-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.constructor-element-container {
  display: grid;
  grid-template-columns: 30px 530px;
  gap: 10px;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.total-price-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.total-price-container svg {
  width: 33px;
  height: 33px;
}

.cunstructor-footer {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.placeholder-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 500px;
}

.scroll-container {
  max-height: 460px;
  overflow-y: scroll;
}

.blocked-ingredient-container {
  grid-column-start: 2;
  grid-column-end: 3;
}

.constructor-element-draggeble-button {
  cursor: grab;
}

.constructor-element-draggeble-button:active {
  cursor: grabbing;
}
