.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #8585ad;
}
