.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.custom-scrollbar_direction-vertical {
  overflow-x: hidden;
}

.custom-scrollbar_direction-horizontal {
  overflow-y: hidden;
}

.custom-scrollbar_direction-horizontal::-webkit-scrollbar {
  overflow-y: hidden;
  height: 8px;
}
