.orders-column {
  overflow-x: auto;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: repeat(10, auto);
  gap: 5px;
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.column {
  width: 50%;
}
