.orders-column {
  overflow-x: auto;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: repeat(10, auto);
  row-gap: 5px;
  column-gap: 20px;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  padding-bottom: 10px;
}

.orders-column_orders-ready {
  color: #00cccc;
}

.column {
  width: 50%;
}
