.burger-ingredients {
  display: flex;
  flex-direction: column;
}

.tabs-container {
  display: flex;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.tab {
  pointer-events: none;
}

.ingredients-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
}

.type {
  text-transform: capitalize;
}
